h1 {
	margin:0;
	position:absolute;
	animation-name: hewwo;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes hewwo {
	0% {
		left:0;
		top:0;
		color:black;
		text-shadow: 0 0 0 black;
		font-size: 1vh;
	}
	
	10% {
		left:70vw;
		top:0;
		color:aqua;
		text-shadow: 1vw 1vh 1vw mintcream;
		font-size: 2vh;
	}
	
	25% {
		left:30vw;
		top:50vh;
		color:pink;
		text-shadow: 2vw 2vh 2vw blue;
		font-size: 5vh;
	}
}