@charset "utf-8";
/* font-family: 'Dancing Script', cursive;
font-family: 'Courier Prime', monospace;*/

h1 {
	font-family: 'Dancing Script', cursive;
	margin:0 0 1vh 0;
	font-size: 6vh;
	text-align: center;
}

h2 {
	font-family: 'Dancing Script', cursive;
	margin:0 0 1vh 0;
	font-size: 4vh;
	font-variant: small-caps;
	padding-left:6vw;
	text-indent: -6vw;
}

p,ul {
	margin:0 0 1vh 0;
	font-family: 'Courier Prime', monospace;
	font-size: 2.5vh;
}

@media (min-width: 800px){
}
