@charset "utf-8";
/* CSS Document */

@keyframes break {
	0% {color: aqua;}
	25% {color: hotpink;}
	50% {color: turquoise;}
	75% {color: greenyellow;}
}

p {
	font-family: 'Open Sans', sans-serif;
}

em {
	font-style: normal;
	font-weight: bold;
	color: #f791e4;
}

.spacer {
	display: none;
}

#spring {
	color: inherit;
	animation-name: break;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

::selection {
	background-color: aquamarine;
	color: black;
}

a {
	color: #F791E4;
}

header {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
	background-color: white;
	font-size:2rem;
	text-shadow: 1px 1px white,
		2px 2px grey,
		0px 0px 1vh grey;
}

header,h2 {
	display:flex;
	justify-content: center;
	text-align: center;
	font-size:1.7rem;
	font-family: 'Lobster', cursive;
}

p,h2,h3 {
	margin: 0 0 .5rem 0;
}

h3 {
	border: 1px solid lightgrey;
	padding: 1.5rem;
	border-radius: 25px;
	font-weight: normal;
	font-size: 1.7rem;
	text-align: center;
}

p {
	font-size: 1.1rem;
	line-height: 1.5rem;
}

div {
	margin-bottom: .75rem;
}


@media screen and (min-width: 800px){
	section {
		display: grid;
		grid-template-columns: 30vw 30vw;
		justify-content: center;
		grid-gap: 1vw;
		margin-bottom: 4vh;
	}
	
	section:first-of-type {
		margin-top: 2.5rem;
	}
	
	h2 {
		grid-column: 1 / span 2;
	}
	
	div {
		border: 1px solid lightgrey;
		border-radius: 25px;
		padding: 1.5rem;
	}
	
	header {
		bottom: auto;
		top: 0;
		font-size: 2rem;
	}
}