@charset "utf-8";

/*

font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;

*/

::selection {
	background-color: aquamarine;
	color: black;
}

#content {
	padding:0;
	display:inline;
	margin: 0 0 5vh 0;
}

a {
	color: black;
	text-decoration: none;
}

em {
	font-weight: bold;
	color: #f791e4;
}

header {
	display:flex;
	justify-content: center;
	text-align: center;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	font-size:2rem;
	font-family: 'Lobster', cursive;
	z-index: 1;
	background-color: white;
	text-shadow: 1px 1px white,
		2px 2px grey,
		0px 0px 1vh grey;
}

section {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 5vh 0;
}

article {
	border:1px solid lightgrey;
	border-radius: 10px;
	overflow: hidden;
	padding: 0;
	margin: 1vh;
	max-height: 24vh;
	background-color:white;
}

article p {
	margin:0 0 0 0;
	border-bottom: 1px solid lightgrey;
	font-size: 3vh;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-variant: small-caps;
	font-weight: bold;
}

article img {
	width:20vh;
	height:20vh;
	object-fit: cover;
	margin:0;
	padding: 0;
	filter: grayscale(100%);
}

aside {
	display: none;
}

aside img {
	width: 100%;
	filter: grayscale(100%);
}

@media (min-width: 800px){
	
	#content {
		display:grid;
		grid-template-columns: 55vw 15vw;
		justify-content: center;
		grid-gap: 2vw;
		margin:2.5rem 0 0 0;
	}
	
	header {
		bottom: auto;
		top:0;
		font-size: 2rem;
		/*text-shadow: 1px 1px #FF69B4,
			2px 2px 1px #FF35a0;*/
	}
	
	aside {
		display:block;
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
		font-size: 2vh;
	}
	
	aside p {
		margin:0;
		text-indent:-10px;
		padding-left: 10px;
	}
}
