::selection {
  background-color:PaleTurquoise;
  color:black;
}

img::selection {
  background-color:none;
}

header {
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:normal;
  margin:0;
  font-family:'Ma Shan Zheng', cursive;
  font-size:6vh;
}

header a {
  color:black;
  text-decoration:none;
}

aside, article {
  font-family: 'Inconsolata', monospace;
  font-size:2.5vh;
}

h1 {
  margin:0 0 1vh 0;
  font-size:5vh;
  font-weight:normal;
  font-family:'Ma Shan Zheng', cursive;
  font-variant:small-caps;
  text-align:center;
}

h2 {
  margin:0 0 .5vh 0;
  font-size:4vh;
  font-family:'Inconsolata', monospace;
  font-variant:small-caps;
}

p {
  margin:0;
}

ul {
  margin:0;
  padding:0;
  list-style-position:inside;
}

ul li {
  padding:0;
}

a {
  color:ForestGreen;
}

footer {
  display:none;
}

@media only screen and (min-width: 700px) {
  section {
    display:grid;
    grid-template-columns:50vw 28vw;
    grid-gap:2vw;
    justify-content:center;
  }
  
  aside {
    border:1px solid;
    padding:1vw;    
  }
  
  article {
    border:1px solid;
    padding:1vw;
  }
  
  footer {
    display:flex;
    grid-column:1 / span 2;
  }
  
  footer img {
    width:15vw;
    height:15vw;
    object-fit:cover;
    margin:0 .5vw 0 .5vw;
    border-radius:20%;
  }
}

/*
FONTS:
font-family: 'Inconsolata', monospace;
font-family:'Ma Shan Zheng', cursive;

CSS DEFAULT COLORS:
SeaShell
PaleTurquoise
Teal
Salmon
RosyBrown
PowderBlue
MistyRose
MintCream
LightCyan
LemonChiffon
LavenderBlush
ForestGreen
*/
