body {
  background-color:LavenderBlush;

header {
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:normal;
  margin:0;
  font-family:'Ma Shan Zheng', cursive;
  font-size:5vh;
}

header a {
  color:black;
  text-decoration:none;
}

aside, article {
  font-family: 'Inconsolata', monospace;
}

article {
  display:none;
}

h1 {
  margin:0 0 1vh 0;
  font-size:4vh;
  font-weight:normal;
  font-family:'Ma Shan Zheng', cursive;
  font-variant:small-caps;
  text-align:center;
}

p {
  margin:0;
}

ul {
  margin:0;
  padding:0;
  list-style-position:inside;
}

ul li {
  padding:0;
}

a {
  color:MintCream;
}

@media only screen and (min-width: 700px) {
  body {
    background-color:white;
  }
  
  section {
    display:grid;
    grid-template-columns:50vw 28vw;
    grid-gap:2vw;
    justify-content:center;
  }
  
  aside {
    border:1px solid;
    padding:1vw;    
  }
  
  article {
    display:block;
    border:1px solid;
    padding:1vw;
  }
}

/*
FONTS:
font-family: 'Inconsolata', monospace;
font-family:'Ma Shan Zheng', cursive;

CSS DEFAULT COLORS:
SeaShell
PaleTurquoise
Teal
Salmon
RosyBrown
PowderBlue
MistyRose
MintCream
LightCyan
LemonChiffon
LavenderBlush
ForestGreen
*/
