header {
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:normal;
  margin:0;
  font-family:'Ma Shan Zheng', cursive;
  font-size:5vh;
}

aside, article {
  font-family: 'Inconsolata', monospace;
}

article {
  display:none;
}

aside h1 {
  margin:0;
  font-size:4vh;
  font-style:italic;
  font-variant:small-caps;
  text-align:center;
}

ol {
  margin:0;
}

a {
  color:ForestGreen;
}

@media only screen and (min-width: 700px) {
  section {
    display:grid;
    grid-template-columns:50vw 28vw;
    grid-gap:2vw;
    justify-content:center;
  }
  
  aside {
    border:1px solid;
  }
  
  article {
    display:block;
    border:1px solid;
    padding:1vw;
  }
}

/*
FONTS:
font-family: 'Inconsolata', monospace;
font-family:'Ma Shan Zheng', cursive;

CSS DEFAULT COLORS:
SeaShell
PaleTurquoise
Teal
Salmon
RosyBrown
PowderBlue
MistyRose
MintCream
LightCyan
LemonChiffon
LavenderBlush
ForestGreen
*/
