@charset "utf-8";
/* CSS Document

font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;

*/

@media screen {
	header {
		display:flex;
		justify-content: center;
		position:fixed;
		bottom:0;
		left:0;
		right:0;
		font-size:2rem;
		font-family: 'Lobster', cursive;
		z-index: 1;
		background-color: white;
		text-shadow: 1px 1px white,
			2px 2px grey,
			0px 0px 1vh grey;
	}
	
	h2, h3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		font-size: 1.5rem;
		font-style: italic;
		font-variant: small-caps;
		margin: .25rem 0 .5rem 0;
	}
	
	p {
		margin: 0;
	}
	
	ul {
		margin: 0;
	}
}

@media print {
	body {
		margin: .125in .5in 0 .5in;
	}
	
	* {
		font-family: Garamond, serif;
	}
	
	a {
		color: black;
		text-decoration: none;
	}
	
	em {
		font-style: normal;
		font-weight: bold;
	}
	
	h2,h3 {
		font-weight: normal;
	}
	
	p, h2 {
		margin: 0 0 .75rem 0;
	}
	
	header {
		font-size: 1.25rem;
		text-align: center;
		font-style: italic;
		font-variant: small-caps;
		margin: 0 0 .75rem 0;
	}
	
	h2 {
		font-size: 1.25rem;
		font-style: italic;
		font-variant: small-caps;
	}
	
	h3 {
		font-size: 1.1rem;
		margin: 0;
	}
	
	#instructor {
		max-width: 2.5in;
		margin: 0 auto .75rem auto;
		border: 1px solid lightgrey;
		padding: 0 .25in 0 .25in;
	}
	
	#instructor p {
		margin: 0;
		font-size: .75rem;
	}
	
	#instructor h3 {
		margin: 0;
		font-size: .75rem;
	}
	
	#grades {
		display: grid;
		grid-template-columns: 2in 1.5in;
		margin: 0 0 .75rem 0;
	}
	
	#grades p {
		margin: 0 0 .25rem 0;
		padding: 0 0 .25rem 0;
		border-bottom: 1px solid lightgrey;
	}
	
	#papers {
		grid-column: 1 / span 2;
		border-bottom: none;
	}
	
}