@charset "utf-8";
/* CSS Document */

p,ul {
	font-family: 'Open Sans', sans-serif;
}

#grades {
	display: grid;
	grid-template-columns: 40vw 30vw;
	justify-content: center;
	
}

#grades p {
	border-bottom: 1px solid lightgrey;
}

#papers {
	grid-column: 1 / span 2;
}

em {
	font-style: normal;
	font-weight: bold;
	color: #f791e4;
}

.spacer {
	display: none;
}

::selection {
	background-color: aquamarine;
	color: black;
}

a {
	color: #F791E4;
word-break:break-word;
}

header {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
	background-color: white;
	text-shadow: 1px 1px white,
		2px 2px grey,
		0px 0px 1vh grey;
}

header,h2,h3 {
	display:flex;
	justify-content: center;
	font-size:2rem;
	font-family: 'Lobster', cursive;
	font-weight: normal;
}

p,h2,h3,#grades {
	margin: 0 0 .5rem 0;
}

p,ul {
	font-size: 1.1rem;
	line-height: 1.5rem;
}

@media screen and (min-width: 800px) {
	header {
		bottom: auto;
		top: 0;
		font-size: 2rem;
	}
	
	#instructor {
		position: fixed;
		top: 2.5rem;
		left: 70vw;
	}
	
	#syllabus {
		position: absolute;
		top: 2.5rem;
		left: 20vw;
		right: 30vw;
	}
	
	#grades {
		grid-template-columns: 15vw 15vw;
	}
	
	h2,h3 {
		justify-content: flex-start;
	}
}
