@charset "utf-8";
/* CSS Document */

p {
	font-family: 'Open Sans', sans-serif;
}

em {
	font-style: normal;
	font-weight: bold;
	color: #f791e4;
}

.spacer {
	display: none;
}

::selection {
	background-color: aquamarine;
	color: black;
}

a {
	color: #F791E4;
}

header {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
	background-color: white;
	font-size:2rem;
	text-shadow: 1px 1px white,
		2px 2px grey,
		0px 0px 1vh grey;
}

header,h2,h3 {
	display:flex;
	justify-content: center;
	font-size:1.4rem;
	font-family: 'Lobster', cursive;
}

p,h2,h3 {
	margin: 0 0 .5rem 0;
}

p {
	font-size: 1.1rem;
	line-height: 1.5rem;
}
