@charset "utf-8";

/*

font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;

*/

#content {
	margin:0;
	padding:0;
	display:inline;
}

header {
	display:flex;
	justify-content: center;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	font-size:4vh;
	font-family: 'Lobster', cursive;
}

section {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	border:1px solid lightgrey;
	border-radius: 10px;
	overflow: hidden;
	padding: 0;
	margin: 1vh;
	max-height: 24vh;
}

article p {
	margin:0 0 1vh 0;
	border-bottom: 1px solid lightgrey;
	font-size: 3vh;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-variant: small-caps;
	font-weight: bold;
}

article img {
	width:20vh;
	height:20vh;
	object-fit: cover;
	margin:0;
	padding: 0;
}

aside {
	display: none;
}

@media (min-width: 800px){
	
	#content {
		display:grid;
		grid-template-columns: 60vw 20vw;
		justify-content: center;
		grid-gap: 5vw;
		position:absolute;
		top:7vh;
	}
	
	header {
		bottom: auto;
		top:0;
		font-size: 6vh;
		text-shadow: 1px 1px aqua,
			2px 2px 1px green,
			3px 3px 2px pink;
	}
	
	aside {
		display:flex;
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
		font-size: 3vh;
	}
}
