/* Typography */

/* Layout */

body {
	display:grid;
	grid-template-columns: 75% 25%;

	margin: 0 15%;
}

header, #menu {
	grid-column: 1 / span 2;
}

aside {
    padding:0 1rem;
}

.bubble {
    max-width: 18vh;
}
