/*

font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;

*/

h1 {
	font: italic normal 3.25rem 'Lobster', sans-serif;
	letter-spacing: .2rem;
	text-align: center;	
	text-shadow: 1px 1px white,
		2px 2px grey,
		0px 0px 1vh grey;
}

h2 {
	font: normal small-caps 2rem 'Lobster', sans-serif;
	text-shadow: 1px 1px white,
		2px 2px grey,
		0px 0px 1vh grey;
}

h3 {
	font: bold 1.4rem 'Open Sans', sans-serif;
}

p, ul, th, td {
	font: 1.25rem 'Open Sans', sans-serif;
}

a {
	color: orchid;
}

::selection {
	background-color: orchid;
}

/*  Tables */

table {
	border-radius: 10px;
	border:1px solid grey;
	width:100%
}

td, th {
	padding:.5rem;
	text-align: left;
}

td:first-of-type, th:first-of-type {
	border-right: 1px solid grey;
}

th {
	font-weight: bold;
	border-bottom: 1px solid grey;
}

/*  Homepage bubbles  */

#menu {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bubble {
	margin:1vh 1vh;
	border:1px solid lightgrey;
	border-radius: 10px;
	overflow: hidden;
}

.bubble p {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 1rem;
	text-align: center;
	font-size: 1.5rem;
}

.bubble img {
	width: 18vh;
	height:18vh;
	object-fit: cover;
	filter: grayscale(100%);
}
